body{
    color: #454545;
    font-family: Open Sans,Arial;
}

main{
    margin: 0 auto;
    max-width: 750px;
    text-align: center;
}

canvas{
    background-color: #454545;
}

section{
    text-align: left;
}